@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

body {
    font-family: 'Inter', sans-serif; 
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

.rounded{
    border-radius: 50px;
}


.background-container {
    position: relative; /* Set position to allow absolute positioning */
    height: 100vh;
    background-image: url('images/oppenheimer.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.centered-container {
    position: absolute; /* Position the container absolutely within the background */
    top: 0; /* Position from the top edge of the parent */
    left: 0; /* Position from the left edge of the parent */
    right: 0; /* Position from the right edge of the parent */
    bottom: 0; /* Position from the bottom edge of the parent */
  }