@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@font-face {
    font-family: 'Nexa';
    src: url(Fonts/Nexa-Trial-Regular.ttf) format('truetype');
    font-family: 'NexaBold'
}
@font-face {
    font-family: NexaBold;
    src: url(Fonts/Nexa-Trial-Bold.ttf) format('truetype')
}
@font-face {
    font-family: 'NexaLight';
    src: url(Fonts/Nexa-Trial-Light.ttf) format('truetype');
}
/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

body {
    font-family: 'NexaBold'
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

.rounded{
    border-radius: 50px;
}


.background-container {
    position: relative; /* Set position to allow absolute positioning */
    height: 100vh;
    background-image: url('./images/film-reel.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.centered-container {
    position: absolute; /* Position the container absolutely within the background */
    top: 0; /* Position from the top edge of the parent */
    left: 0; /* Position from the left edge of the parent */
    right: 0; /* Position from the right edge of the parent */
    bottom: 0; /* Position from the bottom edge of the parent */
  }

  .movie-poster img{
    max-width: 400px;
    margin: 0 auto;
    border: 4px solid #fff;
  }

  .movie-info{
    text-align: center;
    padding-top: 3rem;
  }

  .movie-info .year{
    font-weight: 500;
  }

  .movie-misc-info{
    list-style-type: none;
    padding: 1rem;
  }